@{
    ViewBag.Title = "Quem somos:";
}
<div class="descripition">
    <h2>@ViewBag.Title</h2>
    Um pequeno grupo de desenvolvedores de sofware do curso de engenharia de computação, do Centro Universitário Senai Cimatec.<br /><br />
    <h4>O grupo é composto por:</h4><br />
    Rubem de Almeida;<br />
    Thomas Wicks;<br />
    Vítor Pontes.<br />
</div>