@{
    ViewBag.Title = "Contatos";
}
<div class="Contatos" style="text-align:center">
    <h2>@ViewBag.Title</h2>
    <address>
        Centro Universitário Senai Cimatec<br />
        Salvador, BA 41650-010<br />
        <abbr title="Telefone">(71) 9666-6969</abbr>
    </address>
<address>
    <strong>Suporte:</strong>   <a style="color:red;" href="mailto:Support@example.com">cavalinder@example.com</a><br />
    <strong>Marketing:</strong> <a style="color:red;" href="mailto:Marketing@example.com">Marketing_cavalinder@example.com</a>
</address>
</div>